<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193265883440-3auq282hm7f9jj1v1tl3vqdvtbao5v9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193265883440-3auq282hm7f9jj1v1tl3vqdvtbao5v9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAEoFVTQ9EsRYoBE3QaS6ANoX9IStbaFlA</string>
	<key>GCM_SENDER_ID</key>
	<string>193265883440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huynguyen.wsuGo</string>
	<key>PROJECT_ID</key>
	<string>wsugo-a8bbe</string>
	<key>STORAGE_BUCKET</key>
	<string>wsugo-a8bbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193265883440:ios:c1d8e3224607f3114410f5</string>
	<key>DATABASE_URL</key>
	<string>https://wsugo-a8bbe.firebaseio.com</string>
</dict>
</plist>